# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env
.env.*.local

# Logs
logs/
*.log
log.txt

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directories
coverage/
.nyc_output/

# Optional npm cache directory
.npm/

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS-specific
.DS_Store
Thumbs.db

# Build directories
dist/
build/
tmp/
temp/

# TypeScript
*.tsbuildinfo

# Optional ESLint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional REPL history
.node_repl_history

.gemini
